VITE_SANITY_PROJECT_ID=4z8utkvy
VITE_SANITY_DATASET=production
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_ADMIN_EMAIL_WHITELIST=admin@seudominio.com.br
VITE_SUPABASE_GOOGLE_REDIRECT_URL=http://localhost:5173/admin
VITE_LEADS_API_ENDPOINT=/api/leads
SUPABASE_SERVICE_ROLE_KEY=
